body {
	background: url("../Image/background.jpg") no-repeat center fixed;
	background-size:cover;
	background-color:rgb(120, 255, 120);
}

.client {
    float : right;
    background-color:#fcac00;
    background-clip:content-box;
    color:black;
	box-shadow:2px 2px 2px black;
	height : fit-content;
}

.parent {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: 80px 80px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2;
	width: fit-content;
	height: fit-content;
	margin :0;

}
.div2 { grid-area: 2 / 1 / 3 / 4;
	display:block;
	width:100%;
	height : 46px;
	background-color:#676767;
	margin-top: 2cm;

}
.div3 { grid-area: 3 / 2 / 4 / 3;
	background-attachment:scroll;
	text-align:center;
	background-color:#fcac00;
	background-clip:content-box;
	color:black;
	box-shadow:2px 2px 2px black;
	height : fit-content;
	margin-top: 2cm;
}
.div4 { grid-area: 1 / 2 / 2 / 4;
	background-attachment:fixed;
	height:fit-content;

}
     
.div3 p{margin:5px;	
}

ul.classic {
	list-style: disc;
	margin-bottom: 1em;
	padding-left: 2em;
	}

.dropdown-upward {
	margin-top: 400px;
	}
ul.dropdown, ul.dropdown li, ul.dropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
ul.dropdown {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #676767;
	}
	
ul.dropdown li {
	float: left; 
	vertical-align:middle;	
	}
	
ul.dropdown li.hover,ul.dropdown li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
	
	}
ul.dropdown ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	
	}
ul.dropdown ul li {
	float: none;
	}

ul.dropdown ul ul {
	top: 0;
	left: 100%;
	}
	
ul.dropdown li:hover > ul {
	visibility: visible;
	}
	
ul.dropdown li {
	background-color: #676767;
	color: white;
	}
ul.dropdown li.active {
	background-color: #cf8e00;
	color: white;
	}	
ul.dropdown li.hover,ul.dropdown li:hover 
	{ 
	background-color: rgb(56, 56, 56);
	}

ul.dropdown ul {
	width: 230px;
	margin-top: 0px;
	}
	
ul.dropdown ul li {
	font-weight: normal;
	}
	
.active {
  background-color: #33A5FF;
}
ul.dropdown a {
  display: block;
  color: white;
  padding:14px 50px;
  text-align: center;
  text-decoration: none;
}
.button{
    margin-bottom: 10px;
}
.imgProduit{
    width:100px;
}
.produits{
    text-align:left;
}
.p{
    margin-bottom: 25%;
    margin-top: 25%;
}